.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* image  */
.image-list {
  margin-top: 20px;
}

.masonry-item {
  margin-bottom: 10px;
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
}

.masonry-item img {
  width: 100%;
  height: auto;
}

/* hover effect */
.image-list img {
  transition: transform 0.3s ease-in-out;
}

.image-list img:hover {
  transform: scale(1.1);
}
